<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>GeeekGod AI</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

  </head>
  <body>
    <div class="container">
      <h1>Welcome to GeeekGod AI</h1>
      <br>
      <hr>
      <br>

      <div class="row">
        <div class="col">
          <p id="response"></p>
        </div>
      </div>
      <br>
        <div class="row">
          <div class="col-lg-9">
            <input class="form-control" type="text" name="question" id="question">
          </div>
          <div class="col-lg-3">
            <button class="btn btn-primary btn-block" id="submit-button">Send</button>
          </div>
        </div>

    </div>

    <script src="/static/jquery.min.js" ></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

    <script>


      function  responseFromGeeekGodAI(){
        $.ajax({
          type: "POST",
          url: "/chatbot",
          data: {
              question: $("#question").val()
          },
          success: function(result) {
            $("#response").append("<br>Me: "+$("#question").val()+ "<br> GeeekGod AI: "+result.response);
            $("#question").val("")
          },
          error: function(result) {
              alert('error');
          }
      });
      }

      jQuery(document).ready(function() {

        $("#submit-button").click(function(e) {
          e.preventDefault();
          responseFromGeeekGodAI()
        });

        $('#question').keypress(function (e) {
          if (e.which == 13) {
            responseFromGeeekGodAI()
            return false;
          }
        });

      });


    </script>

  </body>
</html>
